{% extends 'givers/base_all_blog.html' %} 


{% load static %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Giveaway Blog</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="{% static 'givers/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'givers/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'givers/css/templatemo-style.css' %}"/>
    <link rel="stylesheet" href="{% static 'givers/css/blog.css' %}"/>

    
<!--
Parallo Template
https://templatemo.com/tm-534-parallo
-->
  </head>
<body>
    
    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'givers/img/blog_background.jpeg' %}">

<h2 style="color:beige;font-family: 'Times New Roman', Times, serif;text-align: center;padding-bottom: 30px;font-size: larger;"> {{ blog_count }} {{ cat }} article{{ blog_count|pluralize }} for you to enjoy </h2>

{% for i in page_obj.object_list  %}
<ul>
    <li style="text-align: left;">

        <a href = "{% url 'blog:detail' i.id %}"><h4 style="color:beige;">{{ i.title|upper }}</h4></a> 
        <h4 style="color:beige">{{ i.date|date:'d M Y'|upper }}</h4> 
        <p style="color:beige">{{ i.genre }}</p>
        <p style="color:beige">{{ i.story|safe|truncatechars:50 }}</p> <br>
        <hr>
    </li>
</ul>
{% endfor  %} 
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" style="color:white"><</a>
        {% endif %}
        <span style="color:white">{{ page_obj.number }}</span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" style="color:white">></a>
        {% endif %}
    </div>
    <div class="col-md-5"></div>
</div>
    </div>
    <script src="{% static 'givers/js/jquery.min.js' %}"></script>
    <script src="{% static 'givers/js/parallax.min.js' %}"></script>
    <script src="{% static 'givers/js/bootstrap.min.js' %}"></script>

</body>
</html>
{% endblock %}