{% extends 'givers/base.html' %}
{% load static %}

{% load crispy_forms_tags %}



{% block content %}
{% include 'givers/message.html' %}


<div class="tdstyle">
<h1 style="text-align: center;border-bottom: thick double turquoise;">Contact Us</h1>
<p style="text-align: center;">kindly let us know how we can be of help</p>
<br>
<br>
<div class="row d-flex justify-content-center" style="padding-top: 30px;">
<form class="form-width" style="max-width: 18rem;border:slategray 2px solid;padding: 50px;border-radius: 15px;background-color: white;"  method ='POST' action="{% url 'contact' %}">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="button button1" type='submit' style='background-color:aqua;'>Submit</button>
</form>
</div>
</div>


{% endblock %}