{% extends 'givers/base.html' %}



{% block content %}
<h3 style="text-align: center;text-decoration: underline teal;">How it Works</h3>


    <h4 style="padding-left: 30px;">Register/Signup</h4>
<p style="padding-left: 20px;">
To make use of this app, you must be a registered user, though you can navigate our site, visit our blog, comment on articles without being a registered user but making use of the major features of this app (gifting and getting giveaways) require you to be registered.
Registration can either be through <a href=" url 'signupuser' ">Signup</a> or login through your social account.  When you register through the signup link, a verification will be sent to your email to verify/activate your account before you can proceed to login, so kindly ensure you fill an active email address.
When you login for the first time, you will be redirected to update your account with details such as state of residence, gender, profile pic, phone number and the likes. Kindly ensure the correct details are entered as they will be used to communicate with you and without them you won't be able to see any giveaway in your state of residence.
</p>
<p style="padding-left: 20px;">
If at any point in time, you relocate to another state, kindly update your account through the account settings link to continue to give and enjoy the available giveaways in your present state of residence. For now you can only redeem giveaways gifted by people in your state of residence.
On the other hand, when you login through a social account,  you must first update your account through the account settings link by providing your data to the blank fields as this will make us have a means of communicating with you as well as enable you to see the available giveaways in your state of residence.
</p>

<h4 style="padding-left: 30px;">User Dashboard</h4>
<p style="padding-left: 20px;">
After successful login,  the user dashboard is where all the activities of each user are captured. There are two tabs available, <b>OFFERED</b> and<b>REQUESTED</b>. The offered tab shows all the gifts/giveaways you have offered and yet to be received by anybody while the Requested tab shows all the giveaways you have requested.
Before now, when you pickup items from the Gift page, you goto the Requested tab, check all the items you have picked then click the redeem button which will
take to a form where you fill your delivery address and other details and based on your delivery address the delivery charge and a fixed token service charge will 
be communicated to you.
Now, instead of paying for delivery charge and a fixed token service charge for every delivery, a subscription has been introduced and every user who wants to pickup
any item will have to subscribe to a package,get to pick any item for free with active subscription and pickup the items at any pickup centre close to them or choose a delivery option.
When your subscription is about to expire, you will see a notification and a subscribe now button for you to renew your subscription.
</p>
<p style="padding-left: 20px;">
Note: you must proceed to redeem picked items within two days to avoid hoarding, and based on the total giveaways available,You will be limited to the number of items you can
pick within days and a month.
Checking your email is very neccessary as it will be the means of communication for all activities, so make sure you register with your active mail address.
</p>
<p style="padding-left: 20px;">
    When you redeem the items you have picked, you will have the option of self pickup where you will choose the preffered pickup
    centre closest to you  or the  delivery option where you get to put your delivery address.
    If you choose the pickup option, a mail will be sent to you with information containing the pickup address and the phone number of the contact person and you will be 
    able to pickup your items within a week.
    Contrarily, if your preferred option is delivery, your delivery charge will be determined based on your delivery address and you are going to get a mail stating your
    dashboard has been updated. When you get this mail, login to your dashboard, go to the Requested Tab, you will see two delivery options which are pay now or pay on delivery. Choose anyone you fancy and the items will be 
    delivered to your delivery address.
    
</p>

<p style="padding-left: 20px;">
At any point you feel you don't really need an item or you want to pick another item instead, kindly check the item(s) in the Requested Tab and click the Return button before proceeding to redeem the items because once items have been redeemed, you won't be able to
return them. Finally when you have received the items, kindly goto the "Requested Tab" in your dashboard, check the items and press the "Mark as Received" button.
</p>





















{% endblock %}