{% extends 'givers/base.html' %}


{%  block content %}

{% load crispy_forms_tags %}
<div class="accstyle">
<h3 style="padding-left: 30px;">kindly review your {{ view.name }} gift </h3>
<hr>
<form class="form-width" style="padding-left: 40px;" method="POST",action="{% url 'creategift' %}">
    {% csrf_token %}
    <table>
        {{ form | crispy }}
    </table>
    <button class="button button2"  type="submit">submit</button>
</form>

<form method="POST" style="padding-left: 40px;"   action="{% url 'deletegift' view.id  %}">
    {% csrf_token %}
    <button class="button button4"   type="submit">delete</button>
</form>
</div>
{% endblock %}